/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-warm-veneer: 35 40% 55%;
    --clr-dark: 240 8% 5%;
    --clr-black: 0 0% 0%;
    --clr-light-dark: 0 0% 56%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-40: 40px;
    --fs-30: 30px;
    --fs-20: 20px;
    --fs-15: 15px;
    --fs-10: 10px;

    /* font-families */
    --ff-forum: 'Forum', cursive;
    --ff-inter: 'Inter', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-inter);
    font-size: var(--fs-20);
    line-height: 40px;
    color: hsl( var(--clr-dark) );
    background-color: hsl( var(--clr-white) );
}

body > *:where(:not(:last-child)){
    margin-bottom: 20px;
}

/* set up the header */

header {
    height: 690px;
    color: hsl( var(--clr-white) );
}

nav > ul > li {
    cursor: pointer;
} 

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: var(--ff-forum);
    font-size: var(--fs-40);

}

h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: hsl( var(--clr-dark) );
    bottom: -9px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: var(--ff-forum);
    font-size: var(--fs-40);
}

h3 {
    position: relative;
    font-family: var(--ff-forum);
    font-size: var(--fs-20);
    font-weight: 100;
}

h3::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: hsl( var(--clr-warm-veneer) );
    bottom: -9px;
    margin: 0 auto;
    left: 0;

}

/* set up the footer */

footer {
    display: grid;
    grid-auto-rows: min-content;
    height: 250px;
    background-color: hsl( var(--clr-dark) );
    color: hsl( var(--clr-white) );
    line-height: 25px;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.grid {
    display: grid;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

/* colors */

.bg-dark {
    background-color: hsl( var(--clr-dark) );
}

.bg-white {
    background-color: hsl( var(--clr-white) );
}

.bg-veneer {
    background-color: hsl( var(--clr-warm-veneer) );
}

.text-white {
    color: hsl( var(--clr-white) );
}

.text-veneer {
    color: hsl( var(--clr-warm-veneer) );
}

.text-light-dark {
    color: hsl( var(--clr-light-dark) );
}

/* typography */

.ff-forum {
    font-family: var(--ff-forum);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fw-200 {
    font-weight: 200;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-2 { 
    letter-spacing: 2px; 
} 

.letter-spacing-1 { 
    letter-spacing: 1px; 
} 

/* Flexbox */

.flex-1 {
    flex: 1;
}
.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-end {
    justify-content: end;
}


.justify-self-center {
    justify-self: center;
}
.justify-self-end {
    justify-self: end;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.align-content-evenly {
    align-content: space-evenly;
}

.align-self-center {
    align-self: center;
}

.place-content-center {
    place-content: center center;
}

/* Margins */
.mx-20 {
    margin-inline: 20px;
}

.my-10 {
    margin-block: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 2.5rem;
}

.mr-2{
    margin-right: 1rem;
}

.mr-4{
    margin-right: 2rem;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}

.ml-2{
    margin-left: 1rem;
}

/* Paddings */

.px-20 {
    padding-inline: 20px;
}
.p-2 {
    padding: 1rem;
}

/* size */
.maxwidth100 {
    max-width: 100px;
}

.navigation-bar {
    position: relative;
    height: 90px;
    box-shadow: 0px 63px 65px 58px rgba(0, 0, 0, 0.5),0px 63px 65px 58px rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.navigation-bar ul {
    list-style: none;
    gap: 30px;
}

.lib-pic-container {
    position: relative;
    z-index: 100;
    height: 600px;
    
    background-image: url("./img/header-library.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    align-self: start;
    height: 300px;
    background: linear-gradient(to bottom, hsla(240, 8%, 5%, 1), hsla(240, 8%, 5%, 1),hsla(240, 7%, 8%, 0.1));

}

.intro {
    width: 600px;
    height: 220px;
}

/*   header    */
.account-icon {
    cursor: pointer;
}


/* About section */
/* ************ */

.about-pic-container {
    gap: 25px;
}

.about-pic-container > picture{
    height: 560px;
}

.dot-buttons {
    height: 96px;
}

.dot-buttons > div > *{
    height: 1rem;
    aspect-ratio: 1;
    padding: 0.6rem;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl( var(--clr-dark) );
}

.dot-buttons > div :nth-child(1) {
    background-color: hsl( var(--clr-warm-veneer) );
}


/* Favorites section */
/* ***************** */

.favorites {
    gap: 90px;

}

.favorites input {
    appearance: none;
    border: 1px solid hsl( var(--clr-black) );
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
}

input:checked {
    border: 3px solid white;
    outline: 2px solid hsl( var(--clr-black) );
    background-color: hsl( var(--clr-black) );
    color: hsl( var(--clr-white) );
  }

  input:checked + label {
    font-weight: 600;
  }


.grid-favorites{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 220px;
    row-gap: 80px;
}
.grid-favorites > div{
    width: 550px;
    position: relative;
    border: 1px solid hsl( var(--clr-dark) );
    padding: 20px;
}

.grid-favorites  p {
    width: 70%;
}

.grid-favorites  button {
    width: 75px;
    height: 30px;
    background-color: transparent;
    border: 1px solid hsl( var(--clr-dark) );
    align-self: self-end;
}

.grid-favorites > div > img {
    position: absolute;
    bottom: -1px;
    right: -45px;
    width: 200px;
    height: 300px;
}

.grid-favorites button:hover:not(:disabled) {
    background-color: hsl( var(--clr-warm-veneer) );
    border: 1px solid hsl( var(--clr-warm-veneer) );
    color: hsl( var(--clr-dark) );
}

.grid-favorites button:disabled {
    border: 1px solid hsl( var(--clr-warm-veneer) );
    color: hsl( var(--clr-warm-veneer) );
}


/* Coffee shop */
/* ************ */


.grid-coffeeshop-menu {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
}

.grid-coffeeshop-menu :nth-child(1) {
    grid-column: 1 / span 3;
}

.line {
    align-self: center;
    justify-self: center;
    height: 1px;
    width: 100%;
}

/* Contacts */
/* ************ */

.contacts-container > picture {
    height: 414px;
}

.contacts-container a {
    text-decoration: none;
    color: hsl( var(--clr-dark) );
}

/* Library cards */
/* ************* */

.member-card-border{
    height: 387px;
    width: 600px;
    background-color: hsl( var(--clr-white) );
    border: 1px solid hsl( var(--clr-warm-veneer) );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.member-card {
    height: 272px;
    width: 560px;
    background-color: hsl( var(--clr-warm-veneer) );
}

.member-card input {
    flex: 1;
    border: none;
    border-radius: 0.8rem;
}

.member-card-border button{
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid hsl( var(--clr-dark) );
    border-radius: 2px;
}

.card-registration {
    max-width: 456px;
}

.card-registration button{
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    border: 2px solid hsl( var(--clr-dark) );
    border-radius: 2px;
}

.card-registration button:hover {
    cursor: pointer;
}

/*     Footer    */
/* ************* */
.third-row{
    min-height: 120px;
}

footer:nth-child(2) {
    max-height: 2px;
}

.addres {
    width: 229px;
}

.schedule {
    width: 149px;
}