/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-warm-veneer: 35 40% 55%;
    --clr-dark: 240 8% 5%;
    --clr-black: 0 0% 0%;
    --clr-light-dark: 0 0% 56%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-40: 40px;
    --fs-30: 30px;
    --fs-25: 25px;
    --fs-20: 20px;
    --fs-15: 15px;
    --fs-10: 10px;

    /* font-families */
    --ff-forum: 'Forum', cursive;
    --ff-inter: 'Inter', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
p {
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* set up the body */
body {
    font-family: var(--ff-inter);
    font-size: var(--fs-20);
    line-height: 40px;
    color: hsl( var(--clr-dark) );
    background-color: hsl( var(--clr-white) );
    max-width: 1440px;
    margin: 0 auto;
    
}

main > *:where(:not(:last-child)){
    margin-bottom: 20px;
}

main > {
    min-width: 100%;
}

/* set up the header */

header {
    color: hsl( var(--clr-white) );
}

/* set up the footer */

footer {
    display: grid;
    grid-auto-rows: min-content;
    height: 250px;
    background-color: hsl( var(--clr-dark) );
    color: hsl( var(--clr-white) );
    margin-top: 5px;
}

/* others setup */

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: var(--ff-forum);
    font-size: var(--fs-40);
    letter-spacing: 2px;
    text-transform: capitalize;
}

h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: hsl( var(--clr-dark) );
    bottom: -20px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: var(--ff-forum);
    font-size: var(--fs-40);
}

h3 {
    position: relative;
    font-family: var(--ff-forum);
    font-size: var(--fs-20);
    font-weight: 100;
    line-height: 40px;
}

h3::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: hsl( var(--clr-warm-veneer) );
    bottom: 7px;
    margin: 0 auto;
    left: 0;
}

button
{
    transition: 0.3s;
}

ul {
    padding: 0;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.grid {
    display: grid;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow-auth-form >*:where(:not(:last-child)) {
    margin-bottom: var(--flow-space, 0.6rem);
}

.flow-buy-card >*:where(:not(:last-child)) {
    margin-bottom: var(--flow-space, 10px);
}

/* colors */

.bg-dark {
    background-color: hsl( var(--clr-dark) );
}

.bg-white {
    background-color: hsl( var(--clr-white) );
}

.bg-veneer {
    background-color: hsl( var(--clr-warm-veneer) );
}

.text-white {
    color: hsl( var(--clr-white) );
}

.text-veneer {
    color: hsl( var(--clr-warm-veneer) );
}

.text-light-dark {
    color: hsl( var(--clr-light-dark) );
}

.text-black {
    color: hsl( var(--clr-black) );
}

/* typography */

.ff-forum {
    font-family: var(--ff-forum);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fw-200 {
    font-weight: 200;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-0-2 { 
    letter-spacing: 0.2px; 
} 
.letter-spacing-0-3 { 
    letter-spacing: 0.3px; 
} 
.letter-spacing-0-4 { 
    letter-spacing: 0.4px; 
} 
.letter-spacing-0-6 { 
    letter-spacing: 0.6px; 
} 
.letter-spacing-0-8 { 
    letter-spacing: 0.8px; 
} 

.letter-spacing-3 { 
    letter-spacing: 3px; 
} 

.letter-spacing-2 { 
    letter-spacing: 2px; 
} 

.letter-spacing-1 { 
    letter-spacing: 1px; 
}

.line-height-20{
    line-height: 20px;
}

.line-height-40{
    line-height: 40px;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

/* Flexbox */

.flex-1 {
    flex: 1;
}
.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-end {
    justify-content: end;
}


.justify-self-center {
    justify-self: center;
}
.justify-self-end {
    justify-self: end;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.align-content-evenly {
    align-content: space-evenly;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.place-content-center {
    place-content: center center;
}

/* Margins */
.mx-20 {
    margin-inline: 20px;
}

.mx-64 {
    margin-inline: 64px;
}

.my-10 {
    margin-block: 10px;
}

.my-20 {
    margin-block: 20px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-18 {
    margin-top: 18px;
}
.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-50 {
    margin-bottom: 53px;
}

.mt-9 {
    margin-top: 9px;
}
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 60px;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-3-8 {
    margin-top: 3.8rem;
}

.mt-5 {
    margin-top: 2.5rem;
}

.mx-4 {
    margin-inline: 2rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 2.5rem;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-5px {
    margin-bottom: 5px;
}


.mb-40 {
    margin-bottom: 40px;
}

.mr-2{
    margin-right: 1rem;
}

.mr-40{
    margin-right: 40px;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}

.mr-28{
    margin-right: 28px;
}

.ml-1{
    margin-left:0.5rem;
}
.ml-2{
    margin-left: 1rem;
}

/* Paddings */

.p-0 {
    padding: 0;
}



.p-30 {
    padding: 30px;
}

.px-10 {
    padding-inline: 10px;
}

.pl-33 {
    padding-left: 33px;
}

.px-20 {
    padding-inline: 20px;
}
.py-30 {
    padding-block: 30px;
}

.p-5px {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-2 {
    padding: 1rem;
}

.pb-4 {
    padding-bottom: 2rem;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-5 {
    padding-top: 5px;
}
.pt-12 {
    padding-top: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-40 {
    padding-top: 40px;
}



/* size */
.maxwidth100 {
    max-width: 100px;
}

.h-full {
    height: 100%;
}

/* other */

.wrapper {
    margin-inline: auto;
}

.navigation-bar {
    position: relative;
    height: 90px;
    box-shadow: 0px 63px 65px 58px rgba(0, 0, 0, 0.5),0px 63px 65px 58px rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.navigation-bar ul {
    list-style: none;
    gap: 30px;
    line-height: 50px;
    margin: 0;
}

.lib-pic-container {
    position: relative;
    z-index: 100;
    height: 600px;
    
    background-image: url("./img/header-library.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .overlay {
    align-self: start;
    height: 300px;
    background: linear-gradient(to bottom, hsla(240, 8%, 5%, 1), hsla(240, 8%, 5%, 1),hsla(240, 7%, 8%, 0.1));

} */

.intro {
    width: 600px;
    height: 220px;
    margin-top: 3.7rem;
    line-height: 50px;
}

/*   header    */
.account-icon {
    cursor: pointer;
}

header button {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 40px;
}



nav > ul > li > a {
    text-decoration: none;
} 

nav > ul > li  {
    margin: 0;
} 

.menu-layout {
    display: flex;
    position: relative;
    z-index: 100;
}

.menu-btns {
    align-items: center;
    z-index: 1000;

}

.icon-profile {
    position: relative;
}

.icon-profile *[data-profileiconVisible="false"]{
    display: none;
}

.icon-logo {
    cursor: pointer;
}

.userName {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.profilePopup {
    position: absolute;
    bottom: 0px;
    right: 0;
    transform: translate(0%, 100%);
    width: 80px;
    height: 115px;
    padding-block: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.profilePopup >*:where(:not(:first-child)){
    cursor: pointer;
}

/* .menuProfileAuthenticated {
    width: 80px;
    height: 115px;

} */

.profilePopup[data-profileNoAuthVisible="false"]{
    display: none;
}

.profilePopup[data-profileAuthenticatedVisible="false"]{
    display: none;
}

.profile-header {
    position: relative;
}

.profile-header::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: hsl( var(--clr-warm-veneer) );
    bottom: -5px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.profile-card-number::before{
    content: attr(data-cardnumber);
}

.modal-input {
    width: 200px;
    height: 20px;
    border: 1px solid hsl( var(--clr-warm-veneer) );
}

.modal-input-small {
    width: 45px;
}

.text-link {
    cursor: pointer;
}



@media (min-width:1024px) {
    .nav-toggle {
        display: none;
    }
    
    nav > ul > li > a:hover {
        border-bottom: 2px solid hsl( var(--clr-white) );
        transition: 1s;
    }
}

@media (max-width:1024px) {
    .nav-toggle {
        cursor: pointer;
        background: transparent;
        background-image: url(./img/burger.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 40px;
        padding: 0;
        width: 45px;
        aspect-ratio: 1;
        border: 0
        
    }

    .nav-toggle[aria-expanded="true"]{
        background-image: url(./img/cross.svg);
    }

    .navigation {
        width: 332px;
        height: 570px;

        background-color: hsl(var(--clr-black ));
        position: fixed;
        z-index: 1000;
        inset: 13% 0 0 100%;
        display: flex;
        flex-direction: column;
        padding: 1.7rem 1.9rem;
        transform: translateX(150%);
        transition: transform 500ms ease-in-out;
        
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navigation[data-visible="true"]{
        transform: translateX(-100%);
    }


    /* nav > ul > li > a {
        pointer-events: none;
    } */
    
}

/* About section */
/* ************ */

.about-pic-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.about-pic-container picture{
    
    height: 560px;
    aspect-ratio: 1 / 1.25;
    width: calc(100% / 3);
    object-fit: cover;
    
}

.margin-right-flow >*:where(:not(:last-child)) {
    margin-right: 25px;
} 

.dot-buttons {
    height: 96px;
}

.dot{
    height: 26px;
    aspect-ratio: 1;
    border: 5px solid hsl( var(--clr-white) );
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl( var(--clr-dark) );
}

.active {
    background-color: hsl( var(--clr-warm-veneer) );
}



@media (min-width:1024px){

    .about-flex > div:nth-child(1),
    .about-flex > div:nth-child(3) {
        display: none;
    }

    .about-flex > div:nth-child(2) {
        width: 100%;
    }

    .dot-buttons > div > :nth-child(n+4)
    {
        display: none;
    }
}

@media (max-width:1024px){
    .about-pic-container {
        max-width: 450px;
    }

    .about-pic-container picture {
        width: 100%;
    }

    .dot-buttons {
        height: 81px;
        padding-bottom: 0.9rem;
    }

}

/* Favorites section */
/* ***************** */

.favorites {
    gap: 80px;
}

.favorites input {
    appearance: none;
    cursor: pointer;
    border: 1px solid hsl( var(--clr-black) );
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
}

input:checked {
    border: 3px solid white;
    outline: 2px solid hsl( var(--clr-black) );
    background-color: hsl( var(--clr-black) );
    color: hsl( var(--clr-white) );
  }

  input:checked + label {
    font-weight: 600;
  }

.grid-favorites{
    
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    row-gap: 40px;
}
.grid-favorites > div{
    max-width: 550px;
    min-height: 555px;
    position: relative;
    border: 1px solid hsl( var(--clr-dark) );
    padding: 14px 20px 20px 20px;
}

.grid-favorites  p {
    width: 70%;
}

.btn-buy {
    width: 75px;
    height: 30px;
    background-color: transparent;
    border: 1px solid hsl( var(--clr-dark) );
    align-self: self-end;
    border-radius: 2px;
}

.grid-favorites > div > img {
    position: absolute;
    bottom: -1px;
    right: -45px;
    width: 200px;
    height: 300px;
}

.grid-favorites button:hover:not(:disabled) {
    cursor: pointer;
    background-color: hsl( var(--clr-warm-veneer) );
    border: 1px solid hsl( var(--clr-warm-veneer) );
}



    .grid-favorites button:disabled {
        border: 1px solid hsl( var(--clr-warm-veneer) );
        color: hsl( var(--clr-warm-veneer) );
    }

.book-description {
    grid-template-rows: 45px 105px 1fr 45px;
    margin-right: 44px;
}

@keyframes move-right {
    from {left:-640}
    to {left:0px}
}

.transition-right{
    animation-name: move-right;
    animation-duration: 1s;
}

@media (max-width:1024px) {
    .grid-favorites{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .grid-favorites > div{
        width: 550px;
        height: 555px;
    }
}


/* Coffee shop */
/* ************ */

#coffeeshop {
    padding-top: 6px;
}

.coffeeshop-layout{
    display: flex;
    justify-content: space-between;
}

.grid-coffeeshop-menu {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    row-gap: 40px;
}

.coffee-menu {
    max-width: 438px;
}

.grid-coffeeshop-menu :nth-child(1) {
    grid-column: 1 / span 3;
}

.line {
    align-self: center;
    justify-self: center;
    height: 1px;
    width: 100%;
}

@media (max-width:1024px){
    .coffeeshop-layout {
        flex-direction: column;
    }

    .desert-menu {
        display: flex;
        justify-content: end;
    }
    
}

/* Contacts */
/* ************ */

#contacts {
    padding-top: 22px;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}

.contacts-container a {
    text-decoration: none;
    color: hsl( var(--clr-dark) );
}

@media (max-width:1024px) {
   
    .contacts-container {
        flex-wrap: wrap;
    }
    .contacts-container > picture {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

}

/* Library cards */
/* ************* */

#librarycard {
    padding-top: 20px;
    margin-bottom: 37px;
}

.member-card-border{
    height: 387px;
    width: 600px;
    background-color: hsl( var(--clr-white) );
    border: 1px solid hsl( var(--clr-warm-veneer) );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.member-card {
    height: 272px;
    width: 560px;
    background-color: hsl( var(--clr-warm-veneer) );
}

.member-card input {
    flex: 1;
    border: none;
    border-radius: 0.8rem;
}

.member-card-border button{
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid hsl( var(--clr-dark) );
    border-radius: 2px;
}

.card-registration {
    flex-basis: 456px;
}

.authentification-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid hsl( var(--clr-dark) );
    border-radius: 2px;
    width: 75px;
    height: 30px;
}

.authentification-buttons-layout {
    display: flex;
    justify-content: end;

}

.member-card-border button:hover,
.card-registration button:hover {
    cursor: pointer;
    background-color: hsl( var(--clr-warm-veneer) );
    border: 1px solid hsl( var(--clr-warm-veneer) );
}

.lib-card {
    display: flex;
}

@media(min-width:1024px){
    .lib-card{
        justify-content: space-between;
    }
}

@media(max-width:1024px){
    .lib-card {
        flex-wrap: wrap;
    }

    .lib-card > :first-child {
        flex-basis: 600px;
        flex-grow: 1;
        justify-content: center;
    }
    
    .lib-card > :last-child {
        flex-basis: 456px;
        flex-grow: 1;
    }

    .card-registration > * {
        display: flex;
        justify-content: center;
        text-align: center;
    }
   
    .card-registration > p {
        margin-inline: 64px;
    }

}

/*     Footer    */
/* ************* */
footer ul {
    list-style: none;
    padding: 0;
}

.bottom-row{
    min-height: 110px;
}

.address a,
.bottom-row a {
    text-decoration: none;
    color: hsl( var(--clr-white) );
}

footer:nth-child(2) {
    max-height: 2px;
}

.addres {
    width: 229px;
}

.schedule {
    width: 149px;
}

/* modals */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4500;
    background-color: white;
}

.registration-modal {
    width: 250px;
    height: 382px;
}
  
.registration-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.login-modal {
    width: 250px;
    height: 262px;
  }
  
.login-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.myprofile-modal {
    width: 600px;
    height: 400px;
  }
  
.myprofile-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.cardPurchase-modal {
    width: 640px;
    height: 540px;
  }
  
.cardPurchase-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

  .registration-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
  }

  .login-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
  }

  .modal-close-button {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.45rem;
  }

  .myprofile-close-button {
    top: 10px;
    right: 15px;

  }

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3300;
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .text-login {
    text-decoration: underline;
    margin-left: 7px;
  }

  .profile-name-section {
    max-width: 170px;
  }

  .short-name{
    height: 80px;
    aspect-ratio: 1;
  }

  .full-name {
    width: 120px;
    height: 30px;
    text-transform: capitalize;
  }

  .myprofile-wrapper,
  .myprofile-image-visits,
  .myprofile-image-bonuses,
  .myprofile-image-books
   {
        position: relative;
   }


  .myprofile-image-visits::after {
    content: attr(data-visits);
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .myprofile-image-bonuses::after {
    content: attr(data-bonuses);
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .myprofile-image-books::after {
    content: attr(data-books);
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .myprofile-card-number {
    margin-top: auto;
    margin-bottom: 40px;
  }

  .myprofile-card-number > img {
    cursor: pointer;
  }

  .user-info-container[data-user-info="false"]{
    display: none;
  }

  .header-library-card {
    height: 60px;
    width: 640px;
  }

  .cardPurchase-close-button {
    color: hsl( var(--clr-white) );
  }

  .cardPurchase-wrapper {
    max-width: 640px;
    height: 100%;
  }